#iconsNin {
  width: 30px;
  border-radius: 180px;
}

#iconsPS {
  width: 30px;
  border-radius: 180px;
}

#iconsXbox {
  width: 30px;
  border-radius: 180px;
}

#iconsSteam {
  width: 30px;
  border-radius: 180px;
}

#iconsDiscord {
  width: 30px;
  border-radius: 180px;
}

#feets {
  height: 75px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}