#homediv {
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#homespread {
  display: flex;
  flex-direction: row;
}

#feets {
  height: 75px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#left {
  width: 50%;
  height: 800px;
  background-image: url(./splashimgs/splatter.png);
}

#controller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 40%;
}

#right {
  background-color: grey;
  width: 50%;
  height: 800px;
}

#log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 40%;
}

#sign {
  display: block;
  margin-left: 40%;
  margin-right: auto;
  width: 40%;
}

#signbutton {
  border: 0;
  background-color: #808080;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: #FB0001;
  text-shadow: 1px 1px black;
}

#splashh1 {
  color: #FB0001;
  text-shadow: 1px 1px black;
  margin-left: 10%;
  margin-top: 20px;
}

#splashp {
  margin-left: 20%;
}

#splashp2 {
  margin-left: 30%;
}

#splashp3 {
  margin-left: 37%;
  font-weight: bold;
}